.register {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  position: relative;
  top: 0%;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 13px 20px;
}

.registerLoginButton {
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 13px 30px;
  color: white;
  border-radius: 5px;
}

@media (max-width: 500px){
  .registerTitle{
    font-size: 40px;
  }
}
