.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

@media (max-width: 768px){
    .posts{
        flex: auto !important;
        width: 100% !important;
        margin: 10px !important;
    }
}